.toolbar {
  border-bottom: 2px solid gray;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.toolbar > * {
  margin-right: 5px;
}

.right-align {
  text-align: right;
}

.center-align {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  background-color: #EEEEEE;
  height: 100vh;
}

.editbox {
  margin-top: 20px;
  padding: 40px;
  margin-bottom: 20px;
  min-height: 500px;
  width: 80%;
  border: 1px solid black;
  background-color: white;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.32);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.32);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.32);
}

.videoBackground {

  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPage {
  height: 100vh;
  width: auto;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  flex: 1;
  margin-top: 100px;
}
video{
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}


.loginBox {
  padding: 10px;
  min-height: 200px;
  flex: 1;
  background-color: white;
  position: absolute;
  opacity: .9;
}

.login {
  background-color: rgba(255, 255, 255, 1);
}

.registerPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  opacity: .9;
  align-self: center;
  width: 25%;
}

.imgback {
  height: 100vh;
  background-image: url('https://d2excbutktiwrq.cloudfront.net/ask-a-pro/wp-content/uploads/2014/09/iStock_000008809122_Small.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header2 {
  align-self: center;
  margin-bottom: 40px;
}
